body {
    margin: 0;
    background-color: blueviolet;
    text-align: center;
    color: #fff;
  }
  
  button {
    cursor: pointer;
    background-color: rgb(59, 59, 79);
    border: 3px solid white;
    color: white;
  }

 
  
  input {
    background-color: rgb(10, 10, 35);
    color: white;
    border:none;
    outline: none;
    border-radius: 6px;
  }
  
  .bold {
    font-weight: bold;
  }

  .row{
    text-align: center;
  }

  .h1{
    margin-top: 1rem;
  }

  